.root {
    display: flex;
  }
  
  .cardWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 12px;
    gap: 24px;
    max-width: 1180px;
    width: 100%;
  }
  .filter {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    border: 2px solid #fff;
    padding: 12px;
    background-color: black;
    color: #fff;
    font-size: 18px;
  }
  .filterLike {
    cursor: pointer;
  }